a {color: inherit; text-decoration:none;}

body {margin:0; padding:0; font-family:Arial;font-size:22px;font-weight:700;color:#666}

#container {
  background: url(../images/300x250.jpg);
  width: 300px;
  height: 250px;
  position: absolute;
}

#container .container-callout {

  background: url(../images/call_out1.png);
  width: 299px;
  height: 29px;
  bottom: 0px;
  position: absolute;
}


/* expanded */
#expanded-container {
  background: url(../images/600x400.jpg);
  width: 300px;
  height: 250px;
  position: absolute;
  opacity: 0;
  overflow: hidden;

  -webkit-transition: width, height, opacity, 0.7s ease-in-out;
  -moz-transition: width, height, opacity, 0.7s ease-in-out;
  -ms-transition: width, height, opacity, 0.7s ease-in-out;
  transition: width, height, opacity, 0.7s ease-in-out;
}

#close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#learnmore {
  position: absolute;
  top: 115px;
  right: 0;
  width: 235px;
  height: 150px;
  cursor: pointer;
}


#expanded-container .gallery-container {
  position: absolute;
  width: 300px;
  height: 225px;
  top: 87.5px;
  left: 20px;
  overflow: hidden;
}

#expanded-container .gallery-container .gallery {
  position: absolute;
  width: 900px;
  height: 320px;
  left: 0px;
  -webkit-transition: left, 0.25s ease-in-out;
  -moz-transition: left, 0.25s ease-in-out;
  -ms-transition: left, 0.25s ease-in-out;
  transition: left, 0.25s ease-in-out;
}

#expanded-container .gallery-container .gallery img{
  width: 290px;
  height: 190px;
  margin-left: 5px;
}

#expanded-container .gallery-container #gallery-controls {
  position: absolute;
  width: 300px;
  height: 30px;
  top: 195px;
  text-align: center;
  display: block;
  list-style: none;
  margin: 0;
  z-index: 0;
  color: rgb(255, 255, 255);
}

#expanded-container .gallery-container #gallery-controls .button {
  display: inline-block;
  height: 24px;
  position: relative;
  cursor: pointer;
  z-index: 0;
  opacity: 0.6;
  text-align: center;
  list-style: none;
}

#expanded-container .gallery-container #gallery-controls .button .thumbnail {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid rgba(0,0,0,0);
}

#expanded-container .gallery-container #gallery-controls .active .thumbnail {
  border: 2px solid currentColor;
  box-shadow: 0 0 6px currentColor;
}


#expanded-container .call-out-3 {
  display: block;
  height: 25px;
  position: absolute;
  width: 272px;
  left: 49px;
  top: 368px;
  opacity: 0;

  -webkit-transition: opacity, 3s ease-in-out;
  -moz-transition: opacity, 3s ease-in-out;
  -ms-transition: opacity, 3s ease-in-out;
  transition: opacity, 3s ease-in-out;
}


#expanded-container .music-controls {
  position: absolute;
  height: 100px;
  width: 200px;
  left: 400px;
  top: 300px;
}


