  body { 
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
    text-align: center;
    overflow:hidden;
  }
  .container {
    overflow: hidden;
    background-color: #000000;
    height: 248px;
    width: 298px;
    border: 1px solid #666666;
    cursor: pointer;
  }
  .tagline {
    margin: 20px;
    padding: 0;
    position: relative;
    bottom: -26px;
  }
  .tagline .text {
    display: block;
    color: #ffffff;
    font-size: 28px;
    font-weight: 100;
    text-align: left;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
  }
  strong {
    color: #FF8700;
  }
  .logo {
    left: 0;
    margin: 20px;
    position: relative;
  }
  .logo img {
    width: 115px;
  }
  .slinky {
    left: 149px;
    margin: 0;
    position: absolute;
    top: 1px;
  }
  .slinky img {
    width: 150px;
  }
  #trademark {
    color: #FF8700;
    font-size: 20px;
    vertical-align: top;
  }

  .hidden {
    display: none;
  }

  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }
